html {
    font-size: 13px;
}
body{
    background-color: darkgoldenrod;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 30px;
}
.words{
    max-width:500px;
    margin:50px auto;
    border-radius:5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    position: relative;
    background-size: 1005 3rem;
    line-height: 3rem;
}

p{
    margin: 0 0 3rem;
}

.words:before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
}
