@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 12px;
  background-color: rbga(0, 0, 0, 0.2);
  background-image: url(./layered-waves-haikei.svg);
  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply; /*a css property that specifies how the background img of an element should blend with its background color or other background img The multiple blend mode multiplies the color of the background image with the background color or other bg image.*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  text-align: center;
  font-family: sans-serif, monospace;
}

.display_time-left {
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color: rgb(231, 235, 240);
  text-shadow: 4px 4px 0 rgba(29, 28, 28, 0.05);
}

.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.timer_controls {
  display: flex;   
}

.timer_controls > * {
  flex: 1;   /*this is applied to all direct children of an element with the class name "timer_controls" that are html elements*/
}

.timer_controls input {
  flex: 1;
  padding: 2rem;
  font-family: inherit;
  border: none;
}

.timer_button {
  background: none;
  border: 0;
  cursor: pointer;
  color:white;
  font-size: 2rem;
  text-transform: uppercase;
  padding:1rem;
  font-family: 'Space Mono',monospace;
}

.timer_button:hover{
    background-color: #FA7628;
    outline:0;
}

.timer_button:focus {
    background-color: #ff0808; /*color will be changed to red after I click on the button*/
    outline:0;/*the 'outline' property is also set to 0 which means that the default focus outline around the button will be removed.*/
}

.display{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display_end-time {
    font-size:4rem;
    color:whitesmoke;
}

.progess{
    width: 500px;
    height: 1rem;
    background-color: black;
    opacity: .8;
}
.progress-bar {
    width:0px;
    height: 1rem;
    background-color: rgb(16, 16, 16);
    transition: all 300ms ease;
}
